﻿@model Flight
@{
    ViewBag.Title = "Add a Flight";
}

<h2>Add a Flight <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddFlight" method="post">
    <div class="form-group w-50">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required/>
    </div>
    <div class="form-group w-50">
        <label for="DepartLocation">Depart Location:</label>
        <input class="form-control" name="DepartLocation" required/>
    </div>
    <div class="form-group w-50">
        <label for="DestinationLocation">Destination Location:</label>
        <input class="form-control" name="DestinationLocation" required/>
    </div>
    <div class="text-left panel-body m-2">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

<h3 class="alert">@ViewBag.Result</h3>

@if (Model != null)
{
    <h2>Flight</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Depart Location</th>
                <th>Destination Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Success</td>
                <td>@Model.Name</td>
                <td>@Model.DepartLocation</td>
                <td>@Model.DestinationLocation</td>
            </tr>
        </tbody>
    </table>
}