﻿@model Flight
@{
    ViewBag.Title = "Get Flight by Id";
}

<h2>Flight info based from reference <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group w-50">
        <label for="flightId">Reference:</label>
        <input class="form-control" name="flightId" />
    </div>
    <div class="text-left panel-body m-2">
        <button type="submit" class="btn btn-sm btn-primary">Get Flight</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Flight</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Depart Location</th>
                <th>End Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FlightId</td>
                <td>@Model.Name</td>
                <td>@Model.DepartLocation</td>
                <td>@Model.DestinationLocation</td>
            </tr>
        </tbody>
    </table>
}