﻿@model Flight
@{
    ViewBag.Title = "Update a Flight";
}

<h2>Update a Flight <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group w-50">
        <label asp-for="FlightId"></label>
        <input class="form-control" asp-for="FlightId" readonly />
    </div>
    <div class="form-group w-50">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" required/>
    </div>
    <div class="form-group w-50">
        <label asp-for="DepartLocation"></label>
        <input class="form-control" asp-for="DepartLocation" required/>
    </div>
    <div class="form-group w-50">
        <label asp-for="DestinationLocation"></label>
        <input class="form-control" asp-for="DestinationLocation" required/>
    </div>
    <div class="text-left panel-body m-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    <h2>Flight</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Depart Location</th>
                <th>Destination Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FlightId</td>
                <td>@Model.Name</td>
                <td>@Model.DepartLocation</td>
                <td>@Model.DestinationLocation</td>
            </tr>
        </tbody>
    </table>
}